# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate

# SwiftPM
.swiftpm/
.build/

# Logs & misc
*.log
.DS_Store
xcuserdata/

# Firebase config
GoogleService-Info.plist

UserInterfaceState.xuserstate
